/* Note to students:

Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!
*/


html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: helvetica;
    background:  #d2b48c ;
}

a {
  color:  #000  ; // here
}

header {
  padding: 10px;
  background-image: url("http://eskipaper.com/images/cloud-background-8.jpg") ;
  background-size:cover;
  color: ;
  text-align: center;

}

header h1 {font-style:italic;}

nav {
  width: 200px;
  height: 100%;
  float: left; /* don't modify */
  background-color: #888;
  margin-right: 20px;
}

nav a {color: #fff;}

.bridge {
width: 400px;
border:1px solid black;
 }


nav ul {
  list-style: none;
}

nav ul li {
  margin-bottom: 10px;
}

section {
  width: 400px;
  float: left; /* don't modify */
  padding: 5px;
}

footer {
  clear: left; /* don't modify */
  padding: 10px;
  background:  #d2b48c ;
  text-align: ;
}
